@page
@model Berras_bio.Pages.Theater_Page.MovieListModel

@{
    ViewData["Title"] = "MovieList";
}

<h1 class="h2-start">Movies</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieModel[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieModel[0].Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieModel[0].Seats)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MovieModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seats)
            </td>
            <td>
                <a asp-page="./BookTickets" asp-route-id="@item.ID">Buy Tickets</a>
            </td>
        </tr>
}
    </tbody>
</table>
